.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

th:first-child {
  border-radius: 8px 0 0 0;
}

th:last-child {
  border-radius: 0 8px 0px 0px;
}

table th {
  height: 50px;
  background: linear-gradient(180deg, #5a84c0 0%, #594ed2 100%);
  color: white;
  text-transform: uppercase;
  text-align: start;
  padding-left: 5%;
}

table td {
  width: 20%;
  height: 50px;
  text-align: start;
  border-bottom: 1px solid #e9ecef;
  padding: 5px;
  padding-left: 5%;
}

table td:first-child {
  width: 10%;
}

table tr {
  border-left: 1px solid #e9ecef;
  border-right: 1px solid #e9ecef;
}

td img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
