@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Roboto', medium, sans-serif;
  font-size: 24px;
}

h2 {
  font-family: 'Roboto', medium, sans-serif;
  font-size: 16px;
}

h3 {
  font-family: 'Roboto', regular, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-family: 'Roboto', regular, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 28.13px;
  width: 139px;
  height: 28px;
}
